@using Web_CongTyDuocPham.Models;
@{
    ViewBag.Title = "ChiTietSP";
    Layout = "~/Views/_LayoutPage1.cshtml";

    var lst = Session["DSLQ"]  as List<DUOCPHAM>;   /* Lấy danh sách có cùng danh mục */
}

@* Hiển thị 1 dược phẩm *@
@model DUOCPHAM

<div class="container-fluid">
    @* Tiêu đề ----------------------------------------------------------------------------------------- *@
    <div class="row p-2 text-center mb-5">
        <div class="col-md-12">
            <h4 class="fw-bold">CHI TIẾT DƯỢC PHẨM</h4>
        </div>
    </div>

    @* Nội dung ---------------------------------------------------------------------------------------- *@
    <div class="row">
        @* Banner -------------------------------------------------------------------------------------- *@
        <div class="col-md-4">
            <img class="w-75" src="~/Content/images/@Model.HINHANH" />
        </div>

        @* Danh sách các dược phẩm --------------------------------------------------------------------- *@
        <div class="col-md-8">
            <h5>@Model.TEN_DUOCPHAM</h5>
            <p>Giá bán: <text style="color:red; font-weight:bold">@Model.GIA</text></p>
            <a href="/Customer/ChonMua/@Model.ID_DUOCPHAM" class="btn btn-outline-success">Chọn mua</a>
        </div>
    </div>

    @* Sản phẩm có cùng loại --------------------------------------------------------------------------- *@
    @* Tiêu đề ---------------------------------------------------------------- *@
    <hr style="color:#8e8e8e" />
    <div class="row mt-5 mb-2">
        <div class="col-md-12 text-center mb-5">
            <h4 class="fw-bold">CÁC DƯỢC PHẨM TƯƠNG TỰ</h4>
        </div>

        @* Nội dung --------------------------------------------------------------- *@
        <div class="row">
            <div class="product-group">
                <div class="row text-center">
                    @foreach (var s in lst)
                    {
                        <div class="col-md-3 mb-3 text-center">
                            <div class="card bg-light mb-3">
                                <img class="card-img-top" src="~/Content/images/@s.HINHANH" width="100%">
                                <div class="card-body">
                                    <h6 style="font-size:15px;" class="card-title">@s.TEN_DUOCPHAM</h6>
                                    <p class="card-text">Giá: <text style="font-weight: bold" class="text-danger">@s.GIA</text></p>
                                </div>
                                <div class="card-footer">
                                    <a href="@Url.Action("ChiTietSP",new {@id=@s.ID_DUOCPHAM })" class="btn btn-outline-primary">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>