@using Web_CongTyDuocPham.Models;
@{
    ViewBag.Title = "HTGioHang";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

@model GioHang

<div class="container-fluid">
    @* Tiêu đề ----------------------------------------------------------------------------------------- *@
    <div class="row p-2 text-center mb-5">
        <div class="col-md-12">
            <h4 class="fw-bold">GIỎ HÀNG</h4>
        </div>
    </div>

    @* Nội dung ---------------------------------------------------------------------------------------- *@
    <div class="row">
        <div class="col-md-12">
            @if (Model == null || Model.SoMatHang() == 0)
            {
                <div class="row mb-5 mt-5">
                    <div class="col-md-12 text-center mb-2">
                        <h3 class="p-5 fw-bold" style="color:red">Giỏ hàng của bạn hiện đang trống!!!</h3>
                    </div>
                </div>
                <div class="row mb-5 mt-5">
                    <div class="col-md-12 text-center mb-2">
                        <a href="/Customer/Products" class="nav-link fw-bold"><u>Mua dược phẩm</u></a>
                    </div>
                </div>
            }
            else
            {
                <table class="table text-center mb-5">
                    <tr>
                        @*<th>Mã</th>*@
                        <th>Tên</th>
                        <th>Hình ảnh</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                    @foreach (DanhMucGioHang item in Model.lst)
                    {
                        <tr>
                            @*<td>@item.iMaSP</td>*@
                            <td>@item.sTenSP</td>
                            <td><img src="~/Content/images/@item.sAnhBia" width="10%" /></td>
                            <td>@item.iSoLuong</td>
                            <td>@String.Format("{0:#,##}", item.dDonGia) VNĐ</td>
                            <td>@String.Format("{0:#,##}", item.ThanhTien) VNĐ</td>
                            <td><a href="#">Chi tiết</a></td>
                            <td><a href="#">Xóa</a></td>
                            <td><a href="#">Sửa</a></td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2" align="right" class="fw-bold">Tổng cộng:</td>
                        <td class="text-danger" style="font-weight:bold">@Model.TongSLHang()</td>
                        <td></td>
                        <td class="text-danger text-bold" style="font-weight:bold">
                            @String.Format("{0:#,##}", Model.TongThanhTien()) VNĐ
                        </td>
                        <td colspan="3" align="center">
                            @Html.ActionLink("Đặt hàng", "XacNhanThongTin", "Customer",
                            new { @class = "btn btn-outline-success" })
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>